<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bdqn.mapper.PsersonMapper">
    <select id="queryAll" resultType="java.util.Map">
        select *
        from person;
    </select>

    <select id="queryOneById" resultType="java.util.Map">
        select *
        from person where id=#{id} limit 1;
    </select>

    <update id="update">
        UPDATE `temp`.`person`
        SET `name` = #{name},
        `sex` = #{sex},
        `age` = #{age},
        `rank` = #{rank},
        `department` = #{department}
        WHERE `id` = #{id};
    </update>
</mapper>